@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ambit";
  src: url("/fonts/Ambit.otf") format("truetype");
}

.ambit{
    
}

body {
  font-family: "ambit";
}
